/* Container styles */
.report-container {
  max-width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-left: 50px;
  padding: 20px;
}
.intro-text {
  margin-top: 20px;
  margin-bottom: 40px;
}
.details-blah {
  margin-left: 80px;
}
/* Form styles */
.flex {
  display: flex;
  flex-direction: column;
}

.flex h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Label styles */
.flex label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex.input-container {
  display: flex;
  align-items: center;
}
/* Input styles */
.flex input,
.flex select,
.flex textarea {
  width: 75%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Specific input styles with borders */
.flex input[name="incidentName"],
.flex select[name="incidentType"],
.flex textarea[name="description"],
.flex input[name="incidentDate"],
.flex input[name="incidentTime"],
.flex input[name="incidentLocation"],
.flex input[name="userId"],
.flex input[name="image"] {
  border: 1px solid #390656;
}

/* Button styles */
.flex button {
  background-color: #390656;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-left: auto; /* Align button to the right */
}

.flex button:hover {
  background-color: #770c0c;
}
.back-to-home-link {
  textdecoration: underline;
  cursor: pointer;
  color: #390656;
  transform: skewX(-10deg);
  display: inline-block;
  padding: 2px;
  margin-top: 55px;
  margin-left: 40px;
}
.back-to-home-link {
  position: relative;
  textdecoration: none;
  cursor: pointer;
  color: #390656;
  display: inline-block;
  margin-top: 55px;
  margin-left: 50px;
}

.back-to-home-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px; /* Adjust the left position for the size of the triangle */
  border-width: 10px 14px 10px 0; /* Adjust the border-width for the size of the triangle */
  border-style: solid;
  border-color: transparent #390656 transparent transparent;
  transform: translateY(-50%);
}
